:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --dark-secondary-color: rgba(22, 22, 22, 1);
  --light-dark-color: rgba(112, 112, 112, 1);
  --primary-color: rgba(72, 167, 76, 1);
  --primary-color-light: rgba(243, 253, 243, 1);
  --light-gray-color: rgba(205, 205, 205, 1);

  --secondary-color: #2196F3;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DMSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  background-color: #f8f9fa;
  color: #333;
}

html, #root {
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3 ease-in-out;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.fs-sm {
  font-size: 0.8rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.text-gray {
  color: var(--light-dark-color) !important;
}

.text-light-gray {
  color: var(--light-gray-color) !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.primary-background-color {
  background-color: var(--primary-color);
}

.primary-background-color-light {
  background-color: var(--primary-color-light) !important;
}

.dark-background-color {
  background-color: var(--dark-secondary-color);
}

.text-light-dark {
  color: var(--light-dark-color) !important
}

.text-primary-color {
  color: var(--primary-color) !important
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/*Nav bootstrap override*/
.navbar .container-fluid {
  flex-direction: row;
}

.fixed-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991.5px) {
  .navbar .container-fluid {
    flex-direction: row-reverse !important;
  }
}